@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Arpona';
  src: url('/fonts/Arpona-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-arpona {
  font-family: 'Arpona', serif;
}

/* Light Mode Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #F7F5FF; /* Light Track */
}

::-webkit-scrollbar-thumb {
  background-color: #4B39EF; /* Thumb */
  border-radius: 6px;
  border: 2px solid #F7F5FF; /* Match track */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #372580; /* On hover */
}


/* Dark Mode Scrollbar */
.dark ::-webkit-scrollbar-track {
  background: #1B1340; /* Dark Track */
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #3AB5C6; /* Thumb */
  border: 2px solid #1B1340; /* Match track */
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #73c8d3; /* On hover */
}

